* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 1250px;
}
.flex {
  display: flex;
  align-items: center;
}
.trenitalia {
  margin-top: 300px;
  border: 2px solid lightgray;
  border-radius: 20px;
  background-color: rgb(207, 0, 40);
}
h4 {
  padding: 10px 0;
  font-size: 20px;
}
.img-box {
  overflow: hidden;
}
.informations-box {
  background-color: white;
  padding: 0 10px;
}
header{
  height: 90PX;
  background-color:rgb(218,0,50);
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 35px;
}
ul{
  list-style: none;
}
li{
  padding-right: 20px;
  margin-top: 10px;
}